<% @feeds.each do |feed| %>
  <table class="table">
    <thead>
      <tr><th><%= feed.title %></th></tr>
    </thead>
    <tbody>
        <% feed.entries.each do |entry| %>
          <tr><td>
            <small><%= entry.published.strftime("%m/%d %I:%M") %></small><br>
            <a href="<%= entry.url %>" target="new"><%= entry.title %>
          </td></tr>
        <% end %>
    </tbody>
  </table>
<% end %>
